// Generic overrides

*,
*:after,
*::before {
	.box-sizing(border-box);
}

body {
	margin: 0;
	padding: 0;
	font-family: @font;
}

img {
	max-width: 100%;
}

blockquote {
	font-style: italic;
}

.embed-responsive {
	margin-bottom: 10px;
}

// Specific theming

#page {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto;
	z-index: 2;
	overflow: auto;
	-webkit-overflow-scrolling: touch;

	.translate3d(0, 0, 0);
	background-color: @body-bg;
}

.snap-drawer {
	position: absolute;
	top: 0;
	right: auto;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: @sidebar-width;
	height: auto;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	.transition(width 0.3s ease);

	background-color: @color-sidebar;

	h3 {
		margin: 0;
		padding: 15px;
		border-bottom: 1px solid @color-sidebar-div;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	li > a {
		display: block;
		border-bottom: 1px solid @color-sidebar-div;
		padding: 15px;
		font-size: @font-size-small;
		font-weight: bold;
		text-decoration: none;
		color: @text-color;

		&:hover {
			background-color: @color-sidebar-hover;
		}
	}
}

.header-wrapper {
	position: fixed;
	z-index: 10;
}

.header {
	.clearfix();
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: @header-height;
	background: @body-bg;

	h4 {
		text-align: center;
		position: relative;

		small {
			vertical-align: middle;

			a {
				text-decoration: none;
			}
		}
	}
}

#menu {
	position: absolute;
	padding-left: 1.25em;
	font-size: 24px;
	top: 11px;
	left: 16px;

	&:before {
		content: '';
		position: absolute;
		top: 0.25em;
		left: 0;
		width: 1em;
		height: 0.625em;
		border-top: 0.375em double @text-color;
		border-bottom: 0.125em solid @text-color;
	}
}

.container {
	margin-top: @header-height;
}

.content {
	.clearfix();
	width: 90%;
	max-width: @content-width;
	margin: 0 auto;
	margin-bottom: @font-size-base;
}

#cover {
	position: relative;
	width: 100%;
	height: @cover-default-height;
	margin-bottom: @font-size-base;
	background: @gray-darker;
	overflow: hidden;
	background-position: center center;

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 85%;
		max-width: 450px;
		.translate(-50%, -50%);
	}

	@media only screen and (min-width: @wide-breakpoint) {
		height: @cover-height;
	}
}

// SMART classes
.stream    { color: @magenta; }
.maintain  { color: @red;     }
.analyze   { color: @green;   }
.represent { color: @cyan;    }
.transform { color: @violet;  }

.booknav {
	height: 39px;
}
