@font: 'Lato', sans-serif;

// Layout
@font-size-base : 18px;
@header-height  : 50px;
@content-width  : 1024px;

// Colors
@color-white         : #ffffff;
@color-sidebar       : #d7ccc8;
@color-sidebar-div   : #bcaaa4;
@color-sidebar-hover : #efebe9;
@color-background    : #efebe9;
@color-font          : #263238;
