@font: 'Merriweather', serif;

// Layout
@font-size-base       : 18px;
@header-height        : 50px;
@content-width        : 1024px;
@sidebar-width        : 265px;
@cover-default-height : 300px;
@cover-height         : 500px;
@cover-image          : url("../img/landscape.jpg");
@wide-breakpoint      : 1170px;

// Colors
@color-white         : #ffffff;
@color-sidebar       : #d7ccc8;
@color-sidebar-div   : #bcaaa4;
@color-sidebar-hover : #efebe9;
@color-background    : #efebe9;
@color-font          : #263238;
