<div class="panel panel-default text-muted small">
	<div class="panel-body">
		<h4>Colophon</h4>
		<p>
			This book was made with &hearts; using
			<a href="http://handlebarsjs.com/">Handlebars</a>,
			<a href="http://getbootstrap.com/">Bootstrap</a>,
			<a href="http://gulpjs.com/">Gulp</a>,
			and a bunch of other nifty web technologies. The font used is <a href="http://www.google.com/fonts/specimen/Merriweather">Merriweather</a>, and the color scheme is <a href="http://ethanschoonover.com/solarized">Solarized</a>.
		</p>
		<p>The source for this book is available on <a href="https://github.com/willyg302/turtles">GitHub</a>. Found a mistake? Submit an <a href="https://github.com/willyg302/turtles/issues">issue</a>!</p>
	</div>
</div>
